/*/*.container{
display:grid:
grid-templates-areas:
    ' header header'
    'sidebar content' ;
    gap: 10px;
    grid-templates-colums: 150px; 1fr;
    grid-templates-rows: 50px; 1fr;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}
.item{
    border: 1px solid black;
    padding: 5px;
}
*/

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #EF4036;
    margin:0px;
    padding:0px;
}

h1{
    font-size: 3.5em;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
}
h2{
    font-size: 2em;
    margin: 10px;
    margin-left: 0px;
}
h3{
    font-size: 1.5em;
    margin: 10px;
    font-weight: 400;
    margin-left: 0px;
}
h4{
    font-size: 1em;
    margin: 15px;
    font-weight: 600;
    margin-left: 0px;
}
header{
    text-align: center;
}
.wrapper1{
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: left;
    text-align: left;
    padding-top:30px;
}
.logo{
    width: 20%;
    margin:auto;
}
#logo{
    width: 360px;
    padding-bottom:20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 40px;
    width:60%;
}
button{
    background-color: #F8C179;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    font-size: 1em;
    text-transform: uppercase;
    margin: 10px;
    border: 1px solid rgb(31, 28, 28);
    }
button:hover{
    background-color: #4B72A9;
}
button:active{
    background-color: #EF4036;
}
.active{
    background-color: #4B72A9;
}
.contacts{
    background-color: #F8C179;
    padding:px;
    padding-right: 60px;
    border-radius: 30px;
    width:fit-content;
}
table{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px 15px;
}
td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(31, 28, 28);
}
.first{
    width: 25%;
}
a{
    text-decoration: none;
    color: #F8C179;
}
.color1{
    background-color: #18181a;
    color: #e6dcdc;
}
.color2{
    background-color: #f7f6f1;
    border: 1px solid rgb(31, 28, 28);
}
.color3{
    background-color: #5c86c2;
    border: 1px solid rgb(31, 28, 28);
}
.color4{
    background-color: #ffbf6b;
    border: 1px solid rgb(31, 28, 28);
}
