{% extends 'base.html' %}

{% block  content %}

<table>
        <tr>
            <td class="first color1">
                <h2>Контакты</h2>
                <ul>
                    <li>Telegram: <a href="https://t.me/chrtaa">@chrtaa</a></li>
                    <li>Почта: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
                </ul>
            </td>
            <td class="color4" rowspan="3">
                <h2>О блоге</h2>
                <h4> Digital-дизайн во всех его проявлениях </h4>
                <p>
                   Digital переводится как «цифровой». Значит, digital-дизайн — это работа над оформлением цифрового пространства: создание таких изображений и графических элементов,
                   которые существуют только в цифровом виде. </p>

                <p> <h4>Практические советы</h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut arcu ligula. Proin at odio neque. Aenean consequat porta dapibus. Cras porttitor elementum odio sed suscipit. Aenean eget posuere purus. Maecenas felis ipsum, fringilla vitae consequat sit amet, dapibus sed neque. Quisque eget mollis urna. Suspendisse justo nisl, malesuada ac sem in, tempus rutrum tortor. Proin lectus orci, varius eget porta ut, cursus et ipsum. Sed bibendum lacus at dui venenatis, et auctor tellus feugiat. Vestibulum massa elit, tempus at velit vel, pretium fringilla ligula.</p>
                <p> <h4>Разбер кейсов</h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut arcu ligula. Proin at odio neque. Aenean consequat porta dapibus. Cras porttitor elementum odio sed suscipit. Aenean eget posuere purus. Maecenas felis ipsum, fringilla vitae consequat sit amet, dapibus sed neque. Quisque eget mollis urna. Suspendisse justo nisl, malesuada ac sem in, tempus rutrum tortor. Proin lectus orci, varius eget porta ut, cursus et ipsum. Sed bibendum lacus at dui venenatis, et auctor tellus feugiat. Vestibulum massa elit, tempus at velit vel, pretium fringilla ligula.</p>
                <p> <h4>Вдохновение и мотивация</h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut arcu ligula. Proin at odio neque. Aenean consequat porta dapibus. Cras porttitor elementum odio sed suscipit. Aenean eget posuere purus. Maecenas felis ipsum, fringilla vitae consequat sit amet, dapibus sed neque. Quisque eget mollis urna. Suspendisse justo nisl, malesuada ac sem in, tempus rutrum tortor. Proin lectus orci, varius eget porta ut, cursus et ipsum. Sed bibendum lacus at dui venenatis, et auctor tellus feugiat. Vestibulum massa elit, tempus at velit vel, pretium fringilla ligula.</p>

                </td>
        </tr>
        <tr>
            <td class="first color2">
                <h2>Темы</h2>
                <ul>
                    <li>2D-графика</li>
                    <li>Анимация</li>
                    <li>Веб-дизайн</li>
                    <li>3D-графика</li>
                    <li>Нейросети</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="first color3">
                <h2>Программы</h2>
                <ol>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>After Effects</li>
                    <li>InDesign</li>
                    <li>Premiere Pro</li>
                    <li>Blender</li>
                </ol>
            </td>
        </tr>
    </table>
{% endblock %}