{% extends 'base.html' %}

{% block  content %}

<table>
        <tr>
            <td class="first color1">
                <h2>Контакты</h2>
                <ul>
                    <li>Telegram: <a href="https://t.me/chrtaa">@chrtaa</a></li>
                    <li>Почта: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
                </ul>
            </td>
            <td class="color4" rowspan="3">
                <h2>О блоге</h2>
                <h4> Digital-дизайн во всех его проявлениях </h4>
                <p>
                   Digital переводится как «цифровой». Значит, digital-дизайн — это работа над оформлением цифрового пространства: создание таких изображений и графических элементов,
                   которые существуют только в цифровом виде. </p>

                <p> <h4>Тренды и новинки</h4>Т Она будет делиться своими знаниями и опытом в сфере веб-дизайна, графического дизайна, анимации, а также о применении искусственного интеллекта в творческих проектах.
                </p>
                <p>Обучение и вдохновение: Как преподаватель, она будет делиться своими знаниями, опытом и методиками, помогая другим развиваться в цифровом дизайне.
                </p>
                <p>Практические советы и кейсы: Как фрилансер, она будет делиться практическими советами, собственными кейсами и наработками, раскрывая процесс создания цифровых продуктов.
                </p>
                <p>Обучение и вдохновение: Как преподаватель, она будет делиться своими знаниями, опытом и методиками, помогая другим развиваться в цифровом дизайне.
                </p>
                <p>
                В целом, это будет блог для тех, кто интересуется цифровым дизайном, кто хочет развиваться в этой области и кто ищет вдохновение для своих творческих проектов. Блог будет полезен как начинающим дизайнерам, так и профессионалам, стремящимся идти в ногу со временем.
                </p>
                </td>
        </tr>
        <tr>
            <td class="first color2">
                <h2>Навыки</h2>
                <ul>
                    <li>Иллюстрация</li>
                    <li>Анимация</li>
                    <li>Веб-дизайн</li>
                    <li>3D-графика</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="first color3">
                <h2>Программы</h2>
                <ol>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>After Effects</li>
                    <li>InDesign</li>
                    <li>Animate</li>
                    <li>Premiere Pro</li>
                    <li>Blender</li>
                </ol>
            </td>
        </tr>
    </table>
{% endblock %}