{% extends 'base.html' %}
{% load static %}
{% block  content %}

<div class="title">
  <h2>{{title}}</h2>
  <img src="{%static 'arr.png'%}" id="arr">
</div>

<form action="{% url 'thanks'%}" method="POST" class="form">
    {% csrf_token %}
    Пост<br>
    <select name="post">
        {% for p in new %}
            <option value="{{p.id}}">{{ p.title }}</option>
        {% endfor %}
    </select ><br>
    <label for="user_name">Имя</label><br>
    <input name="user_name" id="user_name"><br>
    <label for="email">Почта</label><br>
    <input name="email" id="email"><br>
    <label for="comment">Комментарий</label><br>
    <textarea name="comment" id="comment"></textarea><br><br>
    <button type="submit">Отправить</button>
</form>

{% endblock %}