{% extends 'base.html' %}
{% load static %}
{% block  content %}

<div class="title">
  <h2>DIGITAL-ДИЗАЙН </h2>
  <img src="{%static 'arr.png'%}" id="arr">
</div>

<div class="row">
  <div class="leftcolumn">
    <button class="post" onclick="">
        <div class="card">
          <h2>МИНИМАЛИЗМ</h2>
          <h4>Как чистый дизайн улучшает пользовательский опыт / 15 декабря 2024 </h4>
          <p class="cardtext">Это не значит, что дизайн должен быть скучным.Хорошо продуманный минимализм
            может быть элегантным и запоминающимся.Он позволяет выделить ключевые элементы
            и сделать интерфейс интуитивно понятным.</p>
        </div>
      </button>
    <button class="post" onclick="">
        <div class="card">
          <h2>ТИПОГРАФИКА</h2>
          <h4>Как правильно использовать шрифты в цифровом дизайне / 15 декабря 2024 </h4>
          <p class="cardtext">Существует множество разных шрифтов, но не все они подходят для цифрового дизайна.
            Важно учитывать такие параметры, как удобочитаемость, контрастность, высота строчных знаков и интервалы между буквами. </p>
        </div>
      </button>
    <button class="post" onclick="">
        <div class="card">
          <h2> ИИ В ДИЗАЙНЕ</h2>
          <h4>Бу! Испугался? Не бойся, я друг / 15 декабря 2024 </h4>
          <p class="cardtext">Искусственный интеллект является инструментом, повышающим эффективность, креативность и работы дизайнеров.
            Освоение ИИ предоставляет конкурентное преимущество. Будущее дизайна предполагает интеграцию человеческого творчества и возможностей ИИ.</p>
        </div>
      </button>
    <button class="post" onclick="">
        <div class="card">
            <h2>ТРЕНДЫ В ВЕБ-ДИЗАЙНЕ</h2>
          <h4>Обзор ключевых тенденций в веб-дизайне на 2024 год / 15 декабря 2024 </h4>
          <p class="cardtext">Пора заглянуть в будущее и узнать, какие тенденции будут формировать облик веб-сайтов в ближайшие месяцы.
            В этом посте мы рассмотрим ключевые тренды, которые будут влиять на пользовательский опыт, эстетику и функциональность веб-дизайна.</p>
        </div>
      </button>

  </div>
  <div class="rightcolumn">
    <div class="card color2">
      <h2>Тася Черезова</h2>
      <h4>Группа: 1-МГЗ-2</h4>
      <p>Сделанный на скорую руку, блог про цифровые технологии в дизайне. Немного странный. Отнеситесь с пониманием)</p>
    </div>
    <div class="card color1">
      <h2>Подписывайся</h2>
      <ul>
        <li>ВК: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
        <li>Тг-канал: <a href="https://t.me/chrtaa">@chrtaa</a></li>
        <li>Behance: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
        <li>Artstation: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
      </ul>
    </div>
    <div class="card color1">
      <h2>Контакты</h2>
      <ul>
        <li>Телеграм: <a href="https://t.me/chrtaa">@chrtaa</a></li>
        <li>Почта: <a href="mailto:chertaas@yandex.ru">chertaas@yandex.ru</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <h2>to be continued...</h2>
</div>

{% endblock %}