{% extends 'base.html' %}
{% load static %}
{% block  content %}
<div class="row postt">
  <div class="leftcolumn">
      <h2>МИНИМАЛИЗМ</h2>
      <h4>Как чистый дизайн улучшает пользовательский опыт / 15 декабря 2024 </h4>
      <p class="cardtext">Это не значит, что дизайн должен быть скучным.Хорошо продуманный минимализм
          может быть элегантным и запоминающимся.Он позволяет выделить ключевые элементы и сделать интерфейс интуитивно понятным.</p>
  </div>
  <div class="rightcolumn">
    <div class="card color2">
      <h2>Описание</h2>
      Шаблон поста не получилось подгружать по клику на пост. Поэтому просто шаблон
    </div>
    <div class="card color1">
      <h2>Теги</h2>
      #teg  #teg #teg #teg
    </div>
  </div>
</div>
{% endblock %}